@charset "utf-8";
/*
  - Adjust parallax rates 
    - Adjust background color/image
    - Responsive adjustment of background
  - Prepared list of images (single)
  - Other art
    - Poems (7 ish)
    - Cartoons
      - Astronauts 
      - Bathing in my daydreams 
      - Break in the wall 
  - Page population / responsive sizing 
  - Menu and other options 
    - Contact me 
      - BlueSky
      - GitHub
      - LinkedIn
    - About me 
    - Commons 
*/

/*-------------------------------------->
Local Utils 
<--------------------------------------*/

.container {
	width: min(100% - 30px, 1100px);
	margin-inline: auto;
}

.block {
	display: block;
}

.visible {
	transform: translateY(0);
}

.flex {
	display: flex;
}
.f-col {
	flex-direction: column;
}

.circle {
	border-radius: 50%;
}

.cursor-pointer {
	cursor: pointer;
}

.hidden {
	opacity: 0;
	display: none;
}

.break {
	margin-top: 25px;
}

/*-------------------------------------->
Roots and Resets
<--------------------------------------*/

/*				One is closest 				*/
:root {
	--app-layer-one: #012;
	--app-layer-two: #123;
	--app-layer-three: #234;
	--app-layer-four: #345;
	--app-bg-clr: #404;

}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style-type: none;
}

body {
	overflow-x: hidden;
	color: #fefefe;
	font-family: "Poppins", Arial, sans-serif;
}

p {
	font-size: 1.6rem;
	color: var(--app-layer-one);
}

/*-------------------------------------->
HERO BANNER - PARALLAX
<--------------------------------------*/
.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-color: #000; /* Fallback color */
}

.cityscape {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  will-change: transform;
}

.layer1 {
  background-image: url('../img/cityscape-back.svg'); /* Furthest background layer */
  z-index: 1;
}

.layer2 {
  background-image: url('../img/cityscape-front.svg'); /* Middle background layer */
  z-index: 2;
}

.layer3 {
  background-image: url('../img/cityscape-short.svg'); /* Foreground background layer */
  z-index: 3;
}

/*-------------------------------------->
  Snap Y axis album template
<--------------------------------------*/

.snappy-album {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
  background-color: antiquewhite;
}

.content-wrapper {
  width: 500px;
  height: 500px;
  border: solid 2px #d16;
  display: flex;
  padding: 10px;

  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  gap: 10px;
}

/*    Removing scroll bar styles   */
.content-wrapper {
  -webkit-overflow-scrolling: touch; 
}
.content-wrapper::-webkit-scrollbar {
  display: none; 
}
.content-wrapper {
  scrollbar-width: none;
}
.content-wrapper {
  -ms-overflow-style: none; 
}

.box {
  flex: 0 0 100%; 
  height: 480px;
  background-color: #404;
  scroll-snap-align: center; 
}

/*  Scrolling arrows to replace scroll bar   */
.arrow {
  position: absolute; 
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  z-index: 10; 
  border-radius: 50%; 
  transition: background-color 0.3s ease;
}
.arrow.left {
  left: calc(50% - 250px + 10px); 
}
.arrow.right {
  right: calc(50% - 250px + 10px); 
}

.arrow:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

/*-------------------------------------->
  Text Album
<--------------------------------------*/

.text-album {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 800px;
  border: solid 2px #012;
  display: flex;
  padding: 10px;
  overflow-y: scroll;
}

/*-------------------------------------->
  Content Stream
<--------------------------------------*/

.content-stream {
  columns: 280px 3;
  column-gap: 30px;
}

.full-width {
  column-span: all;
}
.no-break {
  break-inside: avoid;
}

.filler {
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: #345;
  margin: 30px 0;
}

/*-------------------------------------->
  Experimental "Cracks" illusion 
<--------------------------------------*/
:root {
	--cracks-w: 500px;
	--cracks-l: 400px;
}

.cracks-effect-1 {
	--_cracks-w: var(--cracks-w);
	--_cracks-l: var(--cracks-l);

	width: 400px;
	height: 500px;
	position: relative; 

	img {
			width: 400px;
			height: 500px;
	}

	&::before {
			content: "";
			position: absolute; 
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: #fff url("../img/vs-code-bg.jpg") repeat center center;
			background-attachment: fixed;
			background-size: cover; 
			z-index: -1; 
	}
}



